Source: menhir
Section: ocaml
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Mehdi Dogguy <mehdi@debian.org>, Ralf Treinen <treinen@debian.org>
Build-Depends: debhelper-compat (=13),
               dh-ocaml (>= 1.2.2),
               hevea,
               imagemagick,
               ocaml-dune (>= 2.2.0),
               ocaml,
               texlive-fonts-recommended,
               texlive-latex-extra
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://gallium.inria.fr/~fpottier/menhir/
Vcs-Browser: https://salsa.debian.org/ocaml-team/menhir
Vcs-Git: https://salsa.debian.org/ocaml-team/menhir.git

Package: menhir
Architecture: any
Depends: ${misc:Depends}, ${ocaml:Depends}, ${shlibs:Depends}
Suggests: menhir-doc
Description: Parser generator for OCaml
 Menhir is a LR(1) parser generator for the OCaml programming language.
 It is mostly compatible with the ocamlyacc parser generator provided with
 the OCaml system, and has the following enhancements over ocamlyacc:
  * it accepts LR(1) grammars,
  * it offers parameterized nonterminal symbols as well as a library of
    standard definitions,
  * it explains conflicts in terms of the grammar,
  * it allows grammar specifications to be split over multiple files and
    parametrized by OCaml modules,
  * it produces reentrant parsers.

Package: libmenhir-ocaml-dev
Architecture: any
Depends: ${misc:Depends}, ${ocaml:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Suggests: ocaml-findlib
Description: Menhir library for OCaml
 Menhir is a LR(1) parser generator for the OCaml programming language.
 It is mostly compatible with the ocamlyacc parser generator provided with
 OCaml, and has a number of enhancements over ocamlyacc.
 .
 This package contains the Menhir library for the OCaml programming language.
 It gives access to, among others, the following modules:
  * InfiniteArray: implements infinite arrays, that is, arrays
    that grow transparently upon demand.
  * RowDisplacement: compresses a two-dimensional table, where some
    values are considered insignificant, via row displacement.
  * Engine: LR parsing engine.

Package: menhir-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Documentation of the Menhir parser generator for OCaml
 Menhir is a LR(1) parser generator for the OCaml programming language.
 It is mostly compatible with the ocamlyacc parser generator provided with
 OCaml, and has a number of enhancements over ocamlyacc.
 .
 This package contains the Menhir manual as a pdf file, and the collection
 of Menhir examples.
